.upload-container {
  width: 100%;
  .upload-label {
    border: none;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    position: relative;
  }
}

.upload-file-container {
  border: 1px solid rgb(168, 166, 166);
  padding: 10px;
  border-radius: 2px;
  text-align: center;
  background-color: rgb(221, 220, 220);
  cursor: pointer;

  .upload-label {
    width: 100%;
    cursor: pointer;
  }
}
