.cluster-marker {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
  background: #1976d2;
  color: white;
  border-radius: 50%; // 🔁 kvadratni doira qiladi
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
